@import url('https://fonts.googleapis.com/css?family=Harmattan');

.dk {
  display: inline-block;
  /* background: grey; */
  font-family: 'Harmattan';
}
.return {
  text-shadow: none;
  font-size: 14pt;
  margin-left: -14px;
  margin-top: 10px;
  font-family: 'Harmattan';
} 
.keylabel0 { /* TOP LEFT */
  font-size: 12pt;
  font-family: 'Harmattan';
  margin-top: 2px;
  margin-left: 1px;
}
.keylabel6 { /* BOTTOM LEFT */
  font-size: 12pt;
  font-family: 'Harmattan';
  margin-left: 1px;
}
.keylabel2 { /* TOP RIGHT */
  font-size: 12pt;
  font-family: 'Harmattan';
}
.keylabel8 { /* BOTTOM RIGHT */
  font-size: 12pt;
  margin-top: -2px;
  font-family: 'Harmattan';
}